.custom-navbar {
  border-bottom: 1px solid #e0e0e0;
  background: white;
  height: 80px;
  position: fixed;
  width: calc(100% - 240px);
  z-index: 99;
  top: 0;
  left: 240px;
}

.custom-admin-navbar {
  background: white;
  height: 80px;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
}

.nav-notify {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}
.nav-profile-parent {
  cursor: pointer;
  border: 1px solid #e0e0e0;
  padding: 8px;
  width: 200px;
  height: 48px;
  border-radius: 100px;
}
.nav-profile {
  background: #e6e6e6;
  border-radius: 50%;
  border: 1px solid #c7c7c7;
  height: 36px;
  width: 36px;
}
.p-role {
  color: #858585;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
  margin: 0px;
  vertical-align: middle;
}
.p-name {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
  margin: 0px;
  vertical-align: middle;
}
@media (max-width: 1199px) {
  .custom-navbar {
    background: white;
    height: 80px;
    position: fixed;
    width: 100% !important;
    z-index: 99;
    left: 0px !important;
  }
}
